<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NEWS NLP</title>
</head>

<body>

    <header>
        <div class="logo">
            NEWS NLP
        </div>

    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <label for="name">
                    Please enter valid URL!
                </label>
                <input id="name" type="text" name="input" value="" onblur=""
                    placeholder="e.g. https://cnn.com/vaccine-inequality-blood">
                <button type="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
                    submit
                </button>
            </form>
        </section>

        <section class="info">
            <h1>Results:</h1>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>Evaluate a news article with Natural Language Processing</p>
        <p>Udacity Project</p>
    </footer>

</body>

</html>